{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'stark/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<h1>列表页面</h1>

<div class="container">
    {% if show_add_btn %}
        <a href="{{ add_url }}">
            <button class="btn btn-primary">添加</button>
        </a>
    {% endif %}
    <table class="table table-bordered table-hover text-center">
        <thead>
        <tr>
            {% for head in head_list %}
                <td>{{ head }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in new_data_list.object_list %}
            <tr>
                {% for col in item %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="bs-example col-md-offset-2" data-example-id="disabled-active-pagination">
        <nav aria-label="...">
            <ul class="pagination">
                {% if new_data_list.has_previous %}
                <li><a href="?{{ new_data_list.previous_page_number.querystring }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                 {% endif %}
             {% for page in new_data_list.pages %}
                 {% if page %}
                   {% ifequal page new_data_list.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}<span class="sr-only">(current)</span></a></li>
                 {% else %}
                 <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                 {% endifequal %}
                 {% else %}
                  <li class="none"><a href="" class="page">...</a></li>
                 {% endif %}

             {% endfor %}
             {% if new_data_list.has_next %}
                <li><a href="?{{ new_data_list.next_page_number.querystring }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
            </ul>
        </nav>
    </div>


</div>

</body>
</html>